body {
    background: #020202;
    background-image: url("../images/beergents_logo.png");
    background-size: 150px auto;
    background-attachment: fixed;
}
.show-hide {
    transition: all linear 0.5s;
    opacity: 1;
    position: absolute;
    left: 30px;
    display: inline-block;
}
.show-hide.ng-hide {
    opacity: 0;
    left: 25px;
}
span.master {
    border: 1px solid #020202;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px 5px 2px;
}
span.winner {
    background-image: url("../images/beergents_icon.png");
    background-repeat: no-repeat;
    background-size: 15px auto;
    height: 25px;
    margin-left: 10px;
    margin-top: -5px;
    position: absolute;
    width: 15px;
}
h1 {
    text-align: center;
    padding: 20px 0 20px 0;
    background: #fff;
    border: 2px solid #020202;
}
.controls {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #020202;
    margin: 10px 0;
    padding: 10px;
}
.controls .audio {
    display: inline-block; 
    padding: 0 2em 1em 0;
    text-align: center;
}
.controls .audio .audio-controls {
    display: block;
    padding-top: 10px;
}
.content {
    max-width: 960px;
    margin: 0 auto;
}
table {
    width: 100%;
    background: #020202;
}
tr.header-row {
    font-weight: bold;
    line-height: 22px;
}
tr.header-row td:hover {
    cursor: pointer;
}
tr.header-row .wincount {
    margin-left: -10px;
    font-weight: normal;
}
tr.header-row .wincount .icon {
    background-image: url("../images/beergents_icon.png");
    background-repeat: no-repeat;
    background-size: 8px auto;
    height: 15px;
    margin-left: 5px;
    margin-top: 2px;
    position: absolute;
    width: 8px;
}
tr.header-row .useraverage {
    font-weight: normal;
}
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
td.clickable {
    cursor: pointer;
}
td.clickable:hover {
    text-decoration: underline;
}
td.label {
    padding: 10px 30px 10px 10px;
}
tr:nth-child(even) {
    background: #ccc;
}
tr:nth-child(odd) {
    background: #fff;
}


/* Fade-in animation 
********************/

@keyframes animatedBackground {
    from { 
        background-position: 0 0;
        background-size: 150px auto; 
    }
    to { 
        background-position: 100% 30%;
        background-size: 250px auto;
    }
}

html {
    -webkit-animation: fadein 1s;
       -moz-animation: fadein 1s;
        -ms-animation: fadein 1s;
         -o-animation: fadein 1s;
            animation: fadein 1s;
}
body.animated {
    animation: animatedBackground 60s linear infinite;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}