---

users:
- default
- name: {{ vm_user }}
  shell: /bin/bash
  sudo: ALL=(ALL) NOPASSWD:ALL
  ssh_authorized_keys:
  - {{ public_key }}
- name: mijuvaan
  shell: /bin/bash
  homedir: /home/users/mijuvaan

groups:
- users
